doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/xeditable.css')
    link(rel='stylesheet', href='/stylesheets/rzslider.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="/javascripts/highcharts.js")
    script(src="http://code.highcharts.com/modules/no-data-to-display.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js")
    script(src="/javascripts/xeditable.min.js")
    script(src="/javascripts/ui-utils.min.js")
    script(src="/javascripts/rzslider.min.js")
    script(src="/javascripts/glider_chart.js")
    script(src="/javascripts/glider_spa.js")
    script(src="/javascripts/glider_spa-services.js")
    script(src="/javascripts/glider_spa-directives.js")
    script(src="/javascripts/controllers/db_config-controller.js")
    script(src="/javascripts/controllers/flight-controller.js")
    script(src="/javascripts/controllers/tab-controller.js")
    script(src="/javascripts/controllers/slider-controller.js")

  body(ng-app='GliderSPA')
    block content