body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.top-buffer {
  margin-top: 20px;
}
.header_title {
  margin-top: 0px;
}
.top-shift {
  margin-top: 5px;
}
